//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteBase /
RewriteCond %{HTTP_HOST} ^https://nezzox.github.io/tabitatoivonen/$ [NC] 
RewriteRule ^(.*) https://tabitatoivonen.tk/$1 [L,R=301]

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
